$background-color:#fff;
$background-input:#eee;
$background-buttons:#A555EC;

.login{
/* Created with https://www.css-gradient.com */
    background: #F0DBF1;
    background: -webkit-linear-gradient(top left, #F0DBF1, #90BBEB);
    background: -moz-linear-gradient(top left, #F0DBF1, #90BBEB);
    background: linear-gradient(to bottom right, #F0DBF1, #90BBEB);
    height:100vh;
    padding:1rem;
    display:grid;
    place-items: center;
    


    .login_container{
        background:$background-color;
        height:34rem;
        width:23rem;
        border-radius: .6rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding:.9rem;

        .login_container-title{
            margin-top:1.5rem;
        }

        .login_container_form{
            margin-top:3rem;
            height:60vh;
            display: grid;
            

            .login_container_form_input{
                margin-top:2rem;
                
                input{
                    border-radius: 2rem;
                    background:$background-input;
                    padding-left:1rem;
                    line-height: 2;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                    &:focus{
                        box-shadow:none;
                        border:none;
                        outline: none;
                    }
                }
            }

            .login_container_form_button{
                margin-top: 1rem;
                button{
                    width:15rem;
                    border-radius: .4rem;
                    background: $background-buttons;
                    color:$background-color;
                    border:none;
                    outline: none;
                    line-height: 2;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }

                .login_container_form_button_loading{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}






@media only screen and (max-width: 395px){

   
    #login_container{
        width:18rem;
        height:80vh;


    }

    
}

// @media only screen and (max-width: 310px){

   
//     #login_container{
//         width:16.5rem;
//         height:10rem;
//         height:60vh;

//     }

    
// }




@media only screen and (min-width:1150px)
{
    .login
    {

        .login_container
        {
            width:60rem;
            height:25rem;
            max-height:25rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            .login_container_form
            {
                padding:0;
                height:13rem;

                .login_container_form_input
                {
                    margin-top: .2rem;
                    height:3rem;
                    input{
                        margin: 0;
                    }
                }


                .login_container_form_button
                {
                    height:2.5rem;
                }
            }
        }
    }
}