.students-details{
    background: -webkit-linear-gradient(top left, #F0DBF1, #90BBEB);
    background: -moz-linear-gradient(top left, #F0DBF1, #90BBEB);
    background: linear-gradient(to bottom right, #F0DBF1, #90BBEB);
    padding:.4rem;
    height:100vh;
    display:grid;
    place-items: center;

    .table_detail{
        background:#fff;
        padding:.3rem;
        width:22rem;
        height:39rem;
        max-height:39rem;
        border-radius: .7rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .drop-dwon-details{
            background:#AA77FF;
            padding:.3rem;
            border-radius: .2rem;
            text-decoration: none;
            color:#fff;

        }
    }
} 









@media only screen and (min-width:1150px)
{
    .students-details
    {

        .table_detail
        {
            width:60rem;
            height:25rem;

            .list-group
            {
                padding:1rem;
                height:100%;
                overflow-y: auto;
            }


            .list-group::-webkit-scrollbar {
                background: rgba(238,238,238,.1);
                border-radius: 4rem;
                width: .4rem;
            }
            
            .list-group::-webkit-scrollbar-thumb {
                border-radius: 4rem;
                background: rgba(0,0,0,.2);
            }
            
            .list-group::-webkit-scrollbar-track {
                border-radius: 4px;
                background: rgba(238,238,238,.1);
            }
            

        }

        
    }
}