@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}


html{
    background: #0a0a0a;
}

body {
    /* background: rgba(238, 238, 238, .3); */
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url("https://www.opret.gob.do/Images/3Q1A0198.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
